# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName chivalryisdead.co.za
AuthUserFile /home/chivaapv/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/chivaapv/public_html/_vti_pvt/service.grp
